@font-face {
  font-family: 'pixelFont';
  src: url(./assets/Stardew_Valley.ttf);
}
@font-face {
  font-family: 'regularText';
  src: url(./assets/sf-pixelate.regular.ttf);
}
#app {
  font-family: regularText;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1rem;
  text-align: center;
}

body {
  background: #cdb6a3 url(./assets/background.png) no-repeat;
  background-size: cover;
}

.game-container {
  position: relative;
  height: 45rem;
  width: 80%;
  margin: auto;
  padding: 2%;
  background: url(./assets/container.png) no-repeat;
  background-size: 100% 100%;
}

h1,
h2 {
  font-family: pixelFont;
}
h1 {
  color: #927a67;
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-size: 2.5vw;
  color: #927a67;
  text-align: center;
}
/* h3 {
  margin-top: 10px;
  height: 8rem;
} */
